<h3><%= l(:label_graphs_issue_status_flow) %></h3>

<div style="text-align: center">
<%= content_tag("object", "", :width => "280", :height => 280, :type => "image/svg+xml", :data => url_for(:controller => 'graphs', :action => 'recent_status_changes_graph')) %>
</div>

<% content_for :header_tags do 
  if !instance_variable_get("@content_for_header_tags").to_s.include?("/javascripts/sie.js") %>
    <%= javascript_include_tag 'sie', :defer => "defer" %>
  <%end%>
<% end %>
